package __PACKAGE__NAME__

import (
    "path/filepath"

    i18n "github.com/maximilien/i18n4go/i18n"
    goi18n "github.com/nicksnyder/go-i18n/i18n"
)

var T goi18n.TranslateFunc

func init() {
    T = i18n.Init(__FULL_IMPORT_PATH__, i18n.GetResourcesPath())
}