name: Go

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    - name: Set up Go 1.x
      uses: actions/setup-go@v3
      with:
        go-version: '>=1.17'

    - name: Check out code into the Go module directory
      uses: actions/checkout@v3

    - name: Get dependencies
      run: |
        go get -v -t -d ./...
        if [ -f Gopkg.toml ]; then
            curl https://raw.githubusercontent.com/golang/dep/master/install.sh | sh
            dep ensure
        fi

    - name: Format
      run: go fmt ./...

    - name: Build
      run: ./bin/build

    - name: Test
      run: ./bin/test
