name: Greetings

on: [pull_request, issues]

jobs:
  greeting:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/first-interaction@v1
      continue-on-error: true
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        issue-message: 'Thanks for your contribution. Please contact me @maximilien to ensure follow-up.'
        pr-message: 'Thanks for your contribution. Please contact me @maximilien to ensure follow-up.'
